#chat-container {
  width: 80%;
  display: flex;
  flex-direction: column;

  #chat {
    flex: 1
  }

  #prompt {
    width: 100%;
    display: flex;
    /* border: 1px solid white; */
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 999px;
    background: #1a1a1a;

    &:has(input:focus) {
      background: #333;
    }

    input {
      background: none;
      outline: none;
      border: none;
      flex: 1;
      font-size: inherit;
    }

    button {
      background: none;
      border: none;
      font-size: inherit;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

body {
  display: flex;
  justify-content: center;
}